<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.php">
                <i class="fas fa-graduation-cap"></i> <strong class="text-light-beige">AEESGS</strong>
            </a>
            <div class="d-flex align-items-center order-lg-3">
                <a href="#" class="nav-link theme-switcher px-2" title="Changer le thème">
                    <i class="fas fa-moon fs-5 d-lg-none adaptive-icon"></i>
                    <span class="theme-label d-none d-lg-inline">Mode sombre</span>
                </a>
                <a href="login.php" class="nav-link px-2 {{login_active}}" title="Connexion">
                    <i class="fas fa-user fs-5 d-lg-none adaptive-icon"></i>
                    <span class="d-none d-lg-inline">Connexion</span>
                </a>

                <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link {{index_active}}" href="index.php">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{register_active}}" href="register.php">S'enregistrer</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
