<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-4 text-center d-flex flex-column justify-content-start">
                <h5><strong class="text-light-beige">AEESGS</strong> - Administration</h5>
                <p>Plateforme de gestion des élèves, étudiants et stagiaires guinéens au Sénégal.</p>
            </div>
            <div class="col-md-4 text-center d-flex flex-column justify-content-start">
                <ul class="list-unstyled">
                    <li><a href="dashboard.php" class="text-white">Tableau de bord</a></li>
                    <li><a href="users.php" class="text-white">Gestion des utilisateurs</a></li>
                    <li><a href="export.php" class="text-white">Exporter</a></li>
                    <li><a href="login.php" class="text-white">Connexion</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center d-flex flex-column justify-content-start">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope me-2"></i> {{contact_email}}</li>
                    <li><i class="fas fa-phone me-2"></i> {{contact_phone}}</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; {{year}} <strong class="text-light-beige">GUI CONNECT</strong>. Tous droits réservés. | Développé par <a href="https://gui-connect.com/" target="_blank" class="link-light-beige"><strong>GUI CONNECT</strong></a></p>
        </div>
    </div>
</footer>
